/autom4te.cache
/aclocal.m4
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/m4
/missing
/stamp-h1

config.guess
config.h.in
config.log
config.status
config.sub
configure
configure~
data/org.xfce.xfce4-appfinder.appdata.xml
data/xfce4-appfinder.desktop
data/xfce4-run.desktop
depcomp
ChangeLog
INSTALL
install-sh
ltmain.sh
Makefile
Makefile.in
missing
po/.deps/
po/Makefile.in.in
po/POTFILES
po/stamp-it
src/.deps/
ABOUT-NLS
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
po/*.pot

src/appfinder-preferences-ui.h
src/xfce4-appfinder

*.gmo
*.o
*.tar.bz2
*.tar.gz
