[Desktop Entry]
Encoding=UTF-8
Name=Xfce 4 Appfinder
Name[et]=Xfce 4 Appfinder
Name[eu]=Xfce 4 Aplikazio bilatzailea
Name[fi]=Xfce 4 Appfinder
Name[fr]=Xfce 4 Appfinder
Name[he]=Xfce 4 Appfinder
Name[hu]=Xfce 4 alkalmazáskereső
Name[ko]=Xfce 4 검색
Name[lt]=Xfce 4 Appfinder
Name[nl]=Xfce 4 Appfinder
Name[ro]=Xfce 4 appfinder
Name[ru]=Поиск программ
Name[sk]=Xfce 4 Appfinder
Name[zh_CN]=Xfce 4 程序查找器
Comment=Xfce 4 Appfinder
Comment[et]=Näitab paigaldatud rakenduste nimekirja
Comment[eu]=Xfce 4 Aplikazio bilatzailea
Comment[fi]=Etsi koneeltasi asennettuja ohjelmia
Comment[fr]=Liste des applications installées
Comment[he]=כלי לחיפוש יישומים
Comment[hu]=Xfce 4 alkalmazáskereső
Comment[ko]=응용프로그램 검색
Comment[lt]=Išvardina įdiegtas programas
Comment[nl]=Zoek geïnstalleerde programma's
Comment[ro]=Listă aplicaţii instalate
Comment[ru]=Список установленных приложений
Comment[sk]=Zoznam nainštalovaných aplikácií
Comment[zh_CN]=Xfce 4 程序查找器
Exec=xfce4-appfinder
Icon=xfce4-appfinder
Terminal=false
Type=Application
Categories=Utility
GenericName=Appfinder
GenericName[et]=Appfinder
GenericName[eu]=Aplikazio bilatzailea
GenericName[fi]=Appfinder
GenericName[hu]=Alkalmazáskereső
GenericName[ko]=응용프로그램 검색
GenericName[lt]=AppFinder
GenericName[nl]=Appfinder
GenericName[ro]=Appfinder
GenericName[ru]=Поиск программ
GenericName[sk]=Appfinder
GenericName[zh_CN]=程序查找器
