[Desktop Entry]
Encoding=UTF-8
Name=Xfce 4 Appfinder
Name[fi]=Xfce 4 Appfinder
Name[nl]=Xfce 4 Appfinder
Comment=Xfce 4 Appfinder
Comment[fi]=Etsi asennettuja ohjelmia koneesta
Comment[nl]=Zoek geïnstalleerde programma's
Exec=xfce4-appfinder
Icon=xfce4-appfinder
Terminal=false
Type=Application
Categories=Utility
GenericName=Appfinder
GenericName[fi]=Appfinder
GenericName[nl]=Appfinder
